<h1>Display your Pirate here</h1>
  <h2>Pirate Name: <%= @pirate["pirate"]["name"] %></h2>
  <p>Pirate Weight: <%= @pirate["pirate"]["weight"] %></p>
  <p>Pirate Height: <%= @pirate["pirate"]["height"] %></p>
<h2>Display your first ship here</h2>
  <h2>Ship Name: <%= @pirate["pirate"]["ships"][0]["name"] %></h2>
  <h2>Ship Name: <%= @pirate["pirate"]["ships"][0]["type"] %></h2>
  <h2>Ship Name: <%= @pirate["pirate"]["ships"][0]["booty"] %></h2>
<h2>Display your second ship here</h2>
  <h2>Ship Name: <%= @pirate["pirate"]["ships"][1]["name"] %></h2>
  <h2>Ship Name: <%= @pirate["pirate"]["ships"][1]["type"] %></h2>
  <h2>Ship Name: <%= @pirate["pirate"]["ships"][1]["booty"] %></h2>
